<!--icluding the css file-->
<link rel="stylesheet" href="/css/askquestion.css">



<!--Main container for askquestion-->
<div class="askquestion-main-container">

  <!--container for askquestion-->
    <div class="askquestion-container">
  

      <!--Div for heading-->
  <div class="askquestion-heading">
    <h2>Ask Your Question</h2>
  </div>
  

  <!--Form to submit the question-->
  <form method="post" action="/question/create">
  
    <textarea
    name="question" placeholder="Write your question here" required></textarea>
    <button type="submit">ASK YOUR QUESTION</button>
  </form>
   
    </div>
  
  </div>

  <!--icluding the css file-->
<link rel="stylesheet" href="/css/askquestion.css">

