body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: #fff;
    font-family: "ProximaNova","Helvetica","Arial",sans-serif;
  }
  
  .askquestion-main-container{
    width:100%;
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #eff5fe;
   
  
  }
  
  .askquestion-container{
    border: 2px solid #D3D3D3;
    border-radius: 8px;
    display:flex;
    justify-content:flex-start;
    width:40%;
   
    
    flex-direction: column;
    
    padding:5rem;

   
  }
  
  .askquestion-heading h2{
    font-size: 18px;
    line-height: 20px;
    color: #000;
    font-weight: 700;
   
    
  }
  
  
  form textarea{
    height: 168px;
    width: 100%;
    background: #ebf2f7;
    
    border-radius: 20px;
    color: #000;
   
    font-size: 16px;
    line-height: 24px;
    padding: 6px 16px;
    resize: none;
    border: 1px solid #d3d3d3;
  }
  
  button{
    background-color: #4fb3f6;
    color:white;
    height: 40px;
    border-radius: 20px;
    border: none;
    white-space: nowrap;
    text-decoration: none;
    font-size: 15px;
    line-height: 15px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    padding: 0 20px;
    cursor:pointer;
    margin-top:1rem;
    text-align:justify;
  
  }
  
  button:hover{
  background-color: #0089e3;
  }
  
  @media screen and (max-width: 850px) {
    form textarea{
      width:90%;
      height:100px;
      margin-right:1rem;
    
    }
    .askquestion-container{
        width:80%;
        padding:2rem;
        
    }
    
  }